@model IEnumerable<BahokBdDelivery.Models.BankBranch>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2 class="">Manage Area & Price</h2>
                <a asp-action="Create" class=" text-white ">Create New</a>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchName)
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.RoutingName)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Bank)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BranchName)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.RoutingName)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Bank.OrganizationName)
                            </td>
                            <td>
                                <partial name="_ButtonPartial" model="@item.Id" />
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>