@model BahokBdDelivery.ViewModels.MarchentApproveVm
@{
    ViewData["Title"] = "ApproveCreate";
}

<div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Aprove</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 offset-md-4">

                        <table id="AreaList">
                            <tr>
                                <td>
                                    <input type="button" onclick='selectAll()' value="Select All" />

                                </td>
                            </tr>
                            @foreach (var area in ViewBag.deiveryArea)
                            {
                                <tr>
                                    <td>
                                        <input id="AreaId" type="checkbox" value="@area.Id" class="AreaId1" name="AreaCheck" checked="@area.Status" />
                                        <label>@area.Area</label>
                                        <input type="hidden" id="marchentId" value="@Model.MarchentId" />
                                        <input type="hidden" id="areaName" value="@area.Area" />
                                        <br />
                                        l
                                        <input id="base" class="base form-control" value="@area.BaseChargeAmount" />
                                        <input id="inc" class="inc form-control" value="@area.IncreaseChargePerKg" />

                                    </td>
                                </tr>
                            }
                            <tr>
                                <td> <button type="button" id="approveButton" class="btn btn-danger">Approve</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function selectAll() {
            $("#AreaList tr").each(function (row, tr) {
                var isSelected = $(this).closest('tr').find('.AreaId1').is(":checked", true);
                if (isSelected) {
                    $(this).closest('tr').find('.AreaId1').prop('checked', false);
                }
                else {
                    $(this).closest('tr').find('.AreaId1').prop('checked', true);
                }

            })
        }

    </script>
    <script>

        $(document).ready(function () {


            $("#approveButton").click(function () {
                var arrItem = new Array();

                $("#AreaList tr").each(function (row, tr) {
                    var isSelected = $(this).closest('tr').find('.AreaId1').is(":checked", true);
                    if (isSelected) {
                        arrItem.push({
                            "Id": $(this).closest('tr').find('#AreaId').val(),
                            "MarchentId": $(this).closest('tr').find('#marchentId').val(),
                            "Area": $(this).closest('tr').find('#areaName').val(),
                            "BaseChargeAmount": $(this).closest('tr').find('#base').val(),
                            "IncreaseChargePerKg": $(this).closest('tr').find('#inc').val(),
                        });
                    }

                })
                if (arrItem.length != 0) {
                    console.log("piku", arrItem);
                    $.ajax({
                        url: "/MarchentApprove/ApproveCreate1",
                        type: 'POST',
                        data: { "postArrItem": arrItem },
                        success: function (response) {

                        }
                    })
                    console.log("kk", JSON.stringify(arrItem));

                }
            })

        })

    </script>
}
