
@model BahokBdDelivery.ViewModels.MarchentApproveVm
@{
    ViewData["Title"] = "Approve";
}

<div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Aprove</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <ul class="list-group" id="AreaList">

                            @foreach (var area in ViewBag.deiveryArea)
                            {
                                <li class="list-group-item">
                                    <input type="hidden" id="marchentId" value="@Model.MarchentId" />
                                    <input id="check_@area.Id" type="checkbox" checked="@Model.IsSelected" />
                                    <label for="check_@area.Id">@area.Area</label>
                                    <input type="hidden" id="check_@area.Area" class="area" value="@area.Area" />
                                    <input id="check_@area.BaseChargeAmount" type="number" class="form-control" value="@area.BaseChargeAmount" />
                                    <input id="check_@area.IncreaseChargePerKg" type="number" class="form-control" value="@area.IncreaseChargePerKg" />
                                </li>
                            }
                            <li class="list-group-item">
                                <div class="col-md-offset-2 col-md-10">
                                    <input value="Approve" class="btn btn-info btn-sm" onclick="ApproveMarchent()" />
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        var ApproveMarchent = function () {
            var arrItem = [];
            var comaSeparatedAreaId = '';
            $("#AreaList li input[type=checkbox]").each(function (index, val) {
                var checkId = $(val).attr("Id");
                //var basePrice = $(val).attr("BaseChargeAmount");
                //var basePrice = $(val).attr("IncreaseChargePerKg");
                var arr = checkId.split('_');
                var currentCheckedId = arr[1];
                var isSelected = $("#" + checkId).is(":checked", true)
                if (isSelected) {
                    //var obj = {
                    //    cuCheckId:"",
                    //    marchentId:"",
                    //    area: "",
                    //    basePrice: 0.0,
                    //    increasePrice:0.0,
                    //}
                    //this.obj.marchentId = $("#AreaList li .area").val();
                    arrItem.push(currentCheckedId);
                }
                if (arrItem.length != 0) {
                    comaSeparatedAreaId = arrItem.toString();
                    $.ajax({
                        url:"/MarchentApprove/Aprove",
                        type: "POST",
                        data: { AreaList: comaSeparatedAreaId },
                        success: function (response) {

                        }
                    })
                }
            });
        }

    </script>
} 