
@model BahokBdDelivery.ViewModels.MarchentApproveVm
@{
    ViewData["Title"] = "Aprove";
}

<div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Aprove</h2>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*Foreach loop on VIEWBAG which received from controller.*@
                        @foreach (var area in ViewBag.deiveryArea)
                        {
                            <div style="padding-right:15px;margin-left:200px">
                                <input id="@area.Id" type="checkbox" name="skill" value="@area.Id" />
                                <label for="@area.Id">
                                    @area.Area
                                </label>
                                <input name="BasePrice" value="@area.BaseChargeAmount" />
                                <input name="IncreasePrice" value="@area.IncreaseChargePerKg" />
                            </div>
                        }

                    </div>
                    @Html.HiddenFor(model => model.AreaId);
                    @Html.HiddenFor(model => model.MarchentId);
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Approve" class="btn btn-info" onclick="updatemark()" />
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        function updatemark(arg) {
            var abc = ""
            //Iterating the collection of checkboxes which checked marked
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    abc = abc + $(this).val() + ","
                    //assign set value to hidden field
                    $('#Id').val(abc);
                }
            });

        }
    </script>
} 