@model BahokBdDelivery.Models.MarchentStore


@{
    ViewData["Title"] = "AddMarhentStore";
}


<div class="card mb-4">
    <div class="card-header ">
        <h2>Add Store</h2>
        <button onclick="addStoreFrom()" class="btn btn-add" type="button">Add Item</button>
    </div>
    <div class="card-body">
        <div id="StoreForm">
            <div class="row">
                <div class="col-md-6 col-12 col-lg-6">
                    <div class="form-group">
                        <label class="control-label">Marchent List</label>
                        <select asp-for="MarchentId" class="form-control" onclick="marchentList()" id="Marchent"></select>
                        <span asp-validation-for="MarchentId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Manager Name</label>
                        <input type="text" asp-for="ManagerName" />
                        <span asp-validation-for="ManagerName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="container-from">

                    </div>
                </div>
            </div>
        </div>
        @*<table class="table-responsive table table-striped" id="AreaList">
                <tr>
                    <th>
                        <button class="btn btn-success" onclick='selectAll()'><i class="far fa-check-square"></i></button>
                        <button class="btn btn-danger" onclick='unSelectAll()'><i class="fas fa-times"></i></button>

                    </th>
                    <th>Area</th>
                    <th>Base Charge</th>
                    <th>Increase Charge/kg</th>
                </tr>
                @foreach (var area in ViewBag.deiveryArea)
                {
                    <tr>

                        <td> <input id="AreaId" type="checkbox" value="@area.Id" class="AreaId1" name="AreaCheck" checked="@area.Status" /></td>
                        <td>
                            <label>@area.Area</label>
                            <input type="hidden" id="areaName" value="@area.Area" />
                        </td>
                        <td>
                            <input id="base" class="base form-control" value="@area.BaseChargeAmount" />
                            <input type="hidden" id="marchentId" value="@Model.MarchentId" />
                        </td>

                        <td>
                            <input id="inc" class="inc form-control" value="@area.IncreaseChargePerKg" />
                        </td>


                    </tr>
                }
                <tr>
                    <td> <button type="button" onclick='addButton()' class="btn btn-info mt-3">Add Charge</button></td>
                </tr>
            </table>*@
    </div>
</div>

