@model IEnumerable<BahokBdDelivery.Models.PaymentBankingType>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Create</h2>
                <a asp-action="Create" class=" text-white ">Create New</a>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>
                                @Html.DisplayNameFor(model => model.BankingMethodName)
                            </th>
                            <th> @Html.DisplayNameFor(model => model.Status)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankingMethodName)
                            </td>
                            @if (item.Status)
                            {
                                <td class="text-success">Enable</td>
                            }
                            else
                            {
                                <td class="text-warning">Disable</td>
                            }
                            <partial name="_ButtonPartial" model="@item.Id" />
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
