@model BahokBdDelivery.ViewModels.MarchentChargeVm
@{
    ViewData["Title"] = "AddCharge";
} 
<div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
        <div class="card mb-4">
            <div class="card-header bg-info">
                <h2>Aprove</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10 offset-lg-2 offset-md-2 col-lg-10">

                        <table class="table-responsive" id="AreaList">
                            <tr>
                                <td>
                                    <button class="btn btn-success" onclick='selectAll()'><i class="far fa-check-square"></i></button>
                                    <button class="btn btn-danger" onclick='unSelectAll()'><i class="fas fa-times"></i></button>

                                </td>
                            </tr>
                            @foreach (var area in ViewBag.deiveryArea)
                            {
                                <tr>
                                    <td>
                                        <input id="AreaId" type="checkbox" value="@area.Id" class="AreaId1" name="AreaCheck" checked="@area.Status" />
                                        <label>@area.Area</label>
                                        <input type="hidden" id="marchentId" value="@Model.MarchentId" />
                                        <input type="hidden" id="areaName" value="@area.Area" />
                                        <br />
                                        <label>Base Charge</label>
                                        <input id="base" class="base form-control" value="@area.BaseChargeAmount" />
                                        <label>Increase Charge</label>
                                        <input id="inc" class="inc form-control" value="@area.IncreaseChargePerKg" />

                                    </td>
                                </tr>
                            }
                            <tr>
                                <td> <button type="button" id="addButton" class="btn btn-info mt-3">Add</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function selectAll() {
            $("#AreaList tr").each(function (row, tr) {
                $(this).closest('tr').find('.AreaId1').prop('checked', true);
            });

        }
    </script>
    <script type="text/javascript">

        function unSelectAll() {
            $("#AreaList tr").each(function (row, tr) {
                var isSelected = $(this).closest('tr').find('.AreaId1').is(":checked", true);
                if (isSelected) {
                    $(this).closest('tr').find('.AreaId1').prop('checked', false);
                }

            })
        }

    </script>
    <script>

        $(document).ready(function () {


            $("#addButton").click(function () {
                var arrItem = new Array();

                $("#AreaList tr").each(function (row, tr) {
                    var isSelected = $(this).closest('tr').find('.AreaId1').is(":checked", true);
                    if (isSelected) {
                        arrItem.push({
                            "Id": $(this).closest('tr').find('#AreaId').val(),
                            "MarchentId": $(this).closest('tr').find('#marchentId').val(),
                            "Area": $(this).closest('tr').find('#areaName').val(),
                            "BaseChargeAmount": $(this).closest('tr').find('#base').val(),
                            "IncreaseChargePerKg": $(this).closest('tr').find('#inc').val(),
                        });
                    }

                })
                if (arrItem.length != 0) {
                    console.log("piku", arrItem);
                    $.ajax({
                        url: "/MarchentCharge/AddCharge1",
                        type: 'POST',
                        data: { "postArrItem": arrItem },
                        success: function (response) {

                        }
                    })
                    console.log("prianka", JSON.stringify(arrItem));

                }
            })

        })

    </script>
}